
.section{
  width: 100%;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.movieSection{
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,95,1) 52%, rgba(0,212,255,1) 100%);
}

.container{
  max-width: 140rem;
  margin: auto;
  padding:  1rem;
}

.grid_two_section{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60rem;
}

.movieSection h1{
  text-align: center;
  margin-bottom: 3.2rem;
  
}

.movie_title {
  margin: 3.2rem 0 3.2rem 0;
}

.movie_title span{
   color: #ad03fc;
  text-transform: capitalize;
}

.card_section{
  width: 100%;
  display: grid;
  gap: 14px;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  /*background-color: #90caf9;*/

}
@media screen and (max-width:768px) {
  .card_section{
    grid-template-columns: repeat(1, 1fr);
    marginLeft:'auto';
    marginRight:'auto';
  }
}

.card {
  width: 20rem;
  height: 15rem; /* Set a fixed height for all cards */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: .8rem;
  background-color: rgba(0, 0, 0, 0.3); /* Black with 70% opacity */
  padding: 10px; /* Use 'padding' instead of 'paddingVertical' */
  text-overflow: ellipsis;
  cursor:"pointer"
}



.card_data{
  padding: 5px;
}

.card_data h2 {
  font-size: 30px;
  color: #ead8f2;
  cursor: pointer;
}

.card_data p{
  margin: 1rem  0;
  line-height: 1.6;
  color:#ead8f2
}

.card_vote{
  text-align: justify;
}


/*not found page styling */
.error_page{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_page h2{
  font-size: 4.8rem;
}

.bgImg {
  background-image: url('https://images.unsplash.com/photo-1581257107100-f952b3a5c451?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80');
  background-size: cover; /* Adjust to 'contain' or specific dimensions as needed */
  background-repeat: no-repeat;
  background-position: center center;
  min-height:100vh;
}

.hero_card{
  
    max-width: "auto";
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  

    padding: 35px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
  
}
/*loading page style */

.loading_section{
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #e50914;
  border-color: #e50914 transparent #e50914 transparent;
  animation: loading 1.2s infinite;
}
@keyframes loading {
  0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
      transform: rotate(1800deg);
  }
}



@media screen and (max-width:768px) {
  .grid_two_section{
      grid-template-columns: 1fr;
  }

  .card_section{
      justify-content: center;
  }

}

.key_value_pair {
  margin-bottom: 10px; /* Add some spacing between pairs */
}

.key {
  font-weight: bold; /* Style the key as bold */
  color: #333; /* Key text color */
  text-transform: capitalize;
}

.value {
  margin-left: 5px; /* Add spacing between key and value */
  color: #555; /* Value text color */
}

.button4 {
  display: inline-block;
background-color: LightSalmon;
border-radius: 10px;
border: 3px double #cccccc;
color: white;
text-align: center;
font-size: 18px;
padding: 10px;
width: 100px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}